In [23]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

In [69]:
# Q10: Produce a list of facilities with a total revenue less than 1000
#The output of facility name and total revenue, sorted by revenue. Remember
#that there's a different cost for guests and members! 

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    question10 = """
        SELECT facility_name, SUM(revenue) AS total_revenue
        FROM (SELECT f.name as facility_name,             
                     CASE WHEN b.memid!=0 THEN b.slots*f.membercost
                          ELSE b.slots*f.guestcost
                          END AS revenue
              FROM Bookings b
              LEFT JOIN Facilities f
              ON b.facid=f.facid)     
        GROUP BY 1
        HAVING SUM(revenue)<1000
        ORDER BY 2 DESC;
        """
    cur.execute(question10)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn:
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

In [36]:
# Q11: Produce a report of members and who recommended them 
# in alphabetic surname,firstname order

def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    question11 = """
    SELECT t1.surname,t1.firstname, t2.surname, t2.firstname
FROM Members t1, Members t2
WHERE t1.recommendedby=t2.memid AND t2.memid!=0
ORDER BY 1,2;

        """
    cur.execute(question11)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

In [56]:
# Q12 Find the facilities with their usage by member, but not guests
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    question12 = """
        SELECT memid,
       SUM(CASE WHEN facid=0 THEN 1
            ELSE 0 END) AS "Tennis Court 1",
       SUM(CASE WHEN facid=1 THEN 1
            ELSE 0 END) AS "Tennis Court 2",
       SUM(CASE WHEN facid=2 THEN 1
            ELSE 0 END) AS "Badminton Court",
       SUM(CASE WHEN facid=3 THEN 1
            ELSE 0 END) AS "Table Tennis",
       SUM(CASE WHEN facid=4 THEN 1
            ELSE 0 END) AS "Massage Room 1",
       SUM(CASE WHEN facid=5 THEN 1
            ELSE 0 END) AS "Massage Room 2",
       SUM(CASE WHEN facid=6 THEN 1
            ELSE 0 END) AS "Squash Court",
       SUM(CASE WHEN facid=7 THEN 1
            ELSE 0 END) AS "Snooker Table",
       SUM(CASE WHEN facid=8 THEN 1
            ELSE 0 END) AS "Pool Table"
FROM Bookings
WHERE memid!=0
GROUP BY memid
        """
    cur.execute(question12)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
(1, 0, 19, 132, 28, 28, 0, 14, 12, 28)
(2, 30, 2, 32, 28, 6, 0, 6, 45, 61)
(3, 6, 6, 4, 69, 80, 2, 0, 0, 241)
(4, 19, 8, 0, 9, 12, 2, 14, 68, 27)
(5, 57, 3, 20, 1, 32, 1, 9, 34, 6)
(6, 31, 3, 2, 24, 31, 0, 35, 20, 30)
(7, 25, 11, 10, 5, 19, 5, 0, 23, 19)
(8, 4, 52, 12, 4, 36, 0, 12, 43, 25)
(9, 1, 31, 16, 3, 19, 0, 2, 20, 12)
(10, 17, 41, 6, 24, 11, 2, 7, 22, 1)
(11, 25, 30, 8, 11, 19, 4, 8, 2, 8)
(12, 6, 35, 10, 1, 3, 2, 49, 0, 12)
(13, 1, 1, 7, 12, 29, 0, 8, 21, 1)
(14, 22, 1, 12, 5, 27, 1, 9, 5, 7)
(15, 1, 8, 9, 42, 0, 2, 2, 33, 23)
(16, 14, 7, 7, 24, 24, 0, 5, 0, 85)
(17, 16, 0, 7, 17, 3, 0, 3, 16, 9)
(20, 1, 0, 0, 26, 25, 1, 0, 1, 18)
(21, 0, 0, 30, 16, 1, 0, 2, 7, 70)
(22, 7, 0, 0, 21, 1, 2, 1, 10, 11)
(24, 5, 11, 7, 3, 8, 3, 2, 18, 13)
(26, 9, 0, 2, 0, 0, 0, 1, 0, 2)
(27, 0, 1, 0, 0, 0, 0, 2, 14, 3)
(28, 6, 1, 0, 0, 0, 0, 1, 1, 25)
(29, 0, 0, 4, 3, 1, 0, 0, 0, 33)
(30, 0, 1, 2, 6, 0, 0, 1, 1, 5)
(33, 0, 0, 1, 0, 1, 0, 1, 5, 8)
(35, 4, 4, 2, 1, 3, 0, 1, 0, 0)
(36, 1, 0, 2, 2, 2, 0, 0, 0, 0)

In [70]:
# Q13 Find the facilities with their usage by month, but not guests
 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()

    question13 = """
        SELECT strftime('%m', starttime) AS Month,
       SUM(CASE WHEN facid=0 THEN 1
            ELSE 0 END) AS "Tennis Court 1",
       SUM(CASE WHEN facid=1 THEN 1
            ELSE 0 END) AS "Tennis Court 2",
       SUM(CASE WHEN facid=2 THEN 1
            ELSE 0 END) AS "Badminton Court",
       SUM(CASE WHEN facid=3 THEN 1
            ELSE 0 END) AS "Table Tennis",
       SUM(CASE WHEN facid=4 THEN 1
            ELSE 0 END) AS "Massage Room 1",
       SUM(CASE WHEN facid=5 THEN 1
            ELSE 0 END) AS "Massage Room 2",
       SUM(CASE WHEN facid=6 THEN 1
            ELSE 0 END) AS "Squash Court",
       SUM(CASE WHEN facid=7 THEN 1
            ELSE 0 END) AS "Snooker Table",
       SUM(CASE WHEN facid=8 THEN 1
            ELSE 0 END) AS "Pool Table"
FROM Bookings
WHERE memid!=0
GROUP BY 1
        """
    cur.execute(question13)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
       
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
('07', 65, 41, 51, 48, 77, 4, 23, 68, 103)
('08', 111, 109, 132, 143, 153, 9, 85, 154, 272)
('09', 132, 126, 161, 194, 191, 14, 87, 199, 408)